In [ ]:
We start by importing the necessary Python libraries such as pandas for data handling and numpy for working with missing values. These libraries provide all the essential functions we'll need for cleaning and analyzing the data.

In [43]:
import pandas as pd
import numpy as np

In [44]:
# define the file name and the data sheet
orig_data_file = r"climate_change_download_0.xls"
data_sheet = "Data"

# read the data from the excel file to a pandas DataFrame
data_orig = pd.read_excel(io=orig_data_file, sheet_name=data_sheet)

In [45]:
print("Shape of the original dataset:")
data_orig.shape

Shape of the original dataset:

(13512, 28)

In [46]:
print("Available columns:")
data_orig.columns

Available columns:

Index(['Country code', 'Country name',  'Series code',  'Series name',
              'SCALE',     'Decimals',           1990,           1991,
                 1992,           1993,           1994,           1995,
                 1996,           1997,           1998,           1999,
                 2000,           2001,           2002,           2003,
                 2004,           2005,           2006,           2007,
                 2008,           2009,           2010,           2011],
      dtype='object')

In [47]:
print("Column data types:")
data_orig.dtypes

Column data types:

Country code    object
Country name    object
Series code     object
Series name     object
SCALE           object
Decimals        object
1990            object
1991            object
1992            object
1993            object
1994            object
1995            object
1996            object
1997            object
1998            object
1999            object
2000            object
2001            object
2002            object
2003            object
2004            object
2005            object
2006            object
2007            object
2008            object
2009            object
2010            object
2011            object
dtype: object

In [80]:
print("Overview of the first 5 rows:")
data_orig.head()

Overview of the first 5 rows:

,Country code,Country name,Series code,Series name,SCALE,Decimals,1990,1991,1992,1993,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
0,ABW,Aruba,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,29.57481,..,..,..,...,..,..,..,..,..,..,..,..,..,..
1,ADO,Andorra,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,0,..,..,..,...,..,..,..,..,..,..,..,..,..,..
2,AFG,Afghanistan,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,0,..,..,..,...,..,..,..,..,..,..,..,..,..,..
3,AGO,Angola,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,0.208235,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4,ALB,Albania,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,4.967875,..,..,..,...,..,..,..,..,..,..,..,..,..,..

In [81]:
print("Descriptive statistics of the columns:")
data_orig.describe()

Descriptive statistics of the columns:

,Country code,Country name,Series code,Series name,SCALE,Decimals,1990,1991,1992,1993,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
count,13512,13512,13512,13512,13512,13512,10017,10017,10017,10017,...,10017,10017,10017,10017,10017,10017,10017,10017,10017,12382
unique,233,233,58,58,2,3,4355,3398,3523,3583,...,3877,3869,4007,4484,4008,4047,4080,3506,2164,1434
top,ABW,Aruba,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
freq,58,58,233,233,10017,5823,5163,6520,6364,6300,...,5960,5974,5792,4933,5781,5769,5414,6256,7685,10244

In [82]:
data_orig['Series name'].unique()

array(['Land area below 5m (% of land area)',
       'Agricultural land under irrigation (% of total ag. land)',
       'Cereal yield (kg per hectare)',
       'Foreign direct investment, net inflows (% of GDP)',
       'Access to electricity (% of total population)',
       'Energy use per units of GDP (kg oil eq./$1,000 of 2005 PPP $)',
       'Energy use per capita (kilograms of oil equivalent)',
       'CO2 emissions, total (KtCO2)',
       'CO2 emissions per capita (metric tons)',
       'CO2 emissions per units of GDP (kg/$1,000 of 2005 PPP $)',
       'Other GHG emissions, total (KtCO2e)',
       'Methane (CH4) emissions, total (KtCO2e)',
       'Nitrous oxide (N2O) emissions, total (KtCO2e)',
       'Annex-I emissions reduction target',
       'Disaster risk reduction progress score (1-5 scale; 5=best)',
       'GHG net emissions/removals by LUCF (MtCO2e)',
       'Hosted Clean Development Mechanism (CDM) projects',
       'Hosted Joint Implementation (JI) projects',
       'Average annual precipitation (1961-1990, mm)',
       'Issued Certified Emission Reductions (CERs) from CDM (thousands)',
       'Issued Emission Reduction Units (ERUs) from JI (thousands)',
       'Droughts, floods, extreme temps (% pop. avg. 1990-2009)',
       'Average daily min/max temperature (1961-1990, Celsius)',
       'NAMA submission', 'NAPA submission',
       'Latest UNFCCC national communication',
       'Projected annual temperature change (2045-2065, Celsius)',
       'Projected change in annual cool days/cold nights',
       'Projected change in annual hot days/warm nights',
       'Projected annual precipitation change (2045-2065, mm)',
       'Renewable energy target', 'Population below 5m (% of total)',
       'Population in urban agglomerations >1million (%)',
       'Annual freshwater withdrawals (% of internal resources)',
       'Nationally terrestrial protected areas (% of total land area)',
       'Ease of doing business (ranking 1-183; 1=best)',
       'Invest. in energy w/ private participation ($)',
       'Invest. in telecoms w/ private participation ($)',
       'Invest. in transport w/ private participation ($)',
       'Invest. in water/sanit. w/ private participation ($)',
       'Public sector mgmt & institutions avg. (1-6 scale; 6=best)',
       'Paved roads (% of total roads)', 'GDP ($)',
       'GNI per capita (Atlas $)',
       'Ratio of girls to boys in primary & secondary school (%)',
       'Primary completion rate, total (% of relevant age group)',
       'Under-five mortality rate (per 1,000)',
       'Access to improved water source (% of total pop.)',
       'Nurses and midwives (per 1,000 people)',
       'Physicians (per 1,000 people)',
       'Malaria incidence rate (per 100,000 people)',
       'Access to improved sanitation (% of total pop.)',
       'Child malnutrition, underweight (% of under age 5)',
       'Population living below $1.25 a day (% of total)',
       'Population growth (annual %)', 'Population',
       'Urban population growth (annual %)', 'Urban population'],
      dtype=object)

In [83]:
data_orig['Series code'].unique()

array(['AG.LND.EL5M.ZS', 'AG.LND.IRIG.AG.ZS', 'AG.YLD.CREL.KG',
       'BX.KLT.DINV.WD.GD.ZS', 'EG.ELC.ACCS.ZS', 'EG.USE.COMM.GD.PP.KD',
       'EG.USE.PCAP.KG.OE', 'EN.ATM.CO2E.KT', 'EN.ATM.CO2E.PC',
       'EN.ATM.CO2E.PP.GD.KD', 'EN.ATM.GHGO.KT.CE', 'EN.ATM.METH.KT.CE',
       'EN.ATM.NOXE.KT.CE', 'EN.CLC.AERT', 'EN.CLC.DRSK.XQ',
       'EN.CLC.GHGR.MT.CE', 'EN.CLC.HCDM', 'EN.CLC.HJIP',
       'EN.CLC.HPPT.MM', 'EN.CLC.ICER', 'EN.CLC.IERU', 'EN.CLC.MDAT.ZS',
       'EN.CLC.MMDT.C', 'EN.CLC.NAMA', 'EN.CLC.NAPA', 'EN.CLC.NCOM',
       'EN.CLC.PCAT.C', 'EN.CLC.PCCC', 'EN.CLC.PCHW', 'EN.CLC.PCPT.MM',
       'EN.CLC.RNET', 'EN.POP.EL5M.ZS', 'EN.URB.MCTY.TL.ZS',
       'ER.H2O.FWTL.ZS', 'ER.LND.PTLD.ZS', 'IC.BUS.EASE.XQ',
       'IE.PPI.ENGY.CD', 'IE.PPI.TELE.CD', 'IE.PPI.TRAN.CD',
       'IE.PPI.WATR.CD', 'IQ.CPA.PUBS.XQ', 'IS.ROD.PAVE.ZS',
       'NY.GDP.MKTP.CD', 'NY.GNP.PCAP.CD', 'SE.ENR.PRSC.FM.ZS',
       'SE.PRM.CMPT.ZS', 'SH.DYN.MORT', 'SH.H2O.SAFE.ZS',
       'SH.MED.NUMW.P3', 'SH.MED.PHYS.ZS', 'SH.MLR.INCD', 'SH.STA.ACSN',
       'SH.STA.MALN.ZS', 'SI.POV.DDAY', 'SP.POP.GROW', 'SP.POP.TOTL',
       'SP.URB.GROW', 'SP.URB.TOTL'], dtype=object)

In [84]:
data_orig['SCALE'].unique()

array([0, 'Text'], dtype=object)

In [85]:
data_orig['Decimals'].unique()

array([1, 0, 'Text'], dtype=object)

In [86]:
data_orig[data_orig['SCALE']=='Text']

,Country code,Country name,Series code,Series name,SCALE,Decimals,1990,1991,1992,1993,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
3029,ABW,Aruba,EN.CLC.AERT,Annex-I emissions reduction target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3030,ADO,Andorra,EN.CLC.AERT,Annex-I emissions reduction target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3031,AFG,Afghanistan,EN.CLC.AERT,Annex-I emissions reduction target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3032,AGO,Angola,EN.CLC.AERT,Annex-I emissions reduction target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3033,ALB,Albania,EN.CLC.AERT,Annex-I emissions reduction target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7218,YEM,"Yemen, Rep.",EN.CLC.RNET,Renewable energy target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..
7219,ZAF,South Africa,EN.CLC.RNET,Renewable energy target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes
7220,ZAR,"Congo, Dem. Rep.",EN.CLC.RNET,Renewable energy target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..
7221,ZMB,Zambia,EN.CLC.RNET,Renewable energy target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..
7222,ZWE,Zimbabwe,EN.CLC.RNET,Renewable energy target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..

In [87]:
data_orig[data_orig['Decimals']=='Text']

,Country code,Country name,Series code,Series name,SCALE,Decimals,1990,1991,1992,1993,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
3029,ABW,Aruba,EN.CLC.AERT,Annex-I emissions reduction target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3030,ADO,Andorra,EN.CLC.AERT,Annex-I emissions reduction target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3031,AFG,Afghanistan,EN.CLC.AERT,Annex-I emissions reduction target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3032,AGO,Angola,EN.CLC.AERT,Annex-I emissions reduction target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3033,ALB,Albania,EN.CLC.AERT,Annex-I emissions reduction target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7218,YEM,"Yemen, Rep.",EN.CLC.RNET,Renewable energy target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..
7219,ZAF,South Africa,EN.CLC.RNET,Renewable energy target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes
7220,ZAR,"Congo, Dem. Rep.",EN.CLC.RNET,Renewable energy target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..
7221,ZMB,Zambia,EN.CLC.RNET,Renewable energy target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..
7222,ZWE,Zimbabwe,EN.CLC.RNET,Renewable energy target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..

In [88]:
# assign the data to a new DataFrame, which will be modified
data_clean = data_orig

print("Original number of rows:")
print(data_clean.shape[0])

# remove rows characterized as "Text" in the SCALE column
data_clean = data_clean[data_clean['SCALE']!='Text']

print("Current number of rows:")
print(data_clean.shape[0])

Original number of rows:
13512
Current number of rows:
10017

In [89]:
print("Original number of columns:")
print(data_clean.shape[1])

data_clean = data_clean.drop(['Country name', 'Series code', 'SCALE', 'Decimals'], axis='columns')

print("Current number of columns:")
print(data_clean.shape[1])

Original number of columns:
28
Current number of columns:
24

In [90]:
pd.set_option('future.no_silent_downcasting', True)
data_clean.iloc[:, 2:] = data_clean.iloc[:, 2:].replace({'': np.nan, '..': np.nan})

In [95]:
def safe_to_numeric(x):
    try:
        return pd.to_numeric(x)
    except Exception:
        return x

data_clean2 = data_clean.apply(lambda col: col.map(safe_to_numeric) if col.name not in ['Country code', 'Series name'] else col)


print("Print the column data types after transformation:")
print(data_clean2.dtypes)

Print the column data types after transformation:
Country code     object
Series name      object
1990            float64
1991            float64
1992            float64
1993            float64
1994            float64
1995            float64
1996            float64
1997            float64
1998            float64
1999            float64
2000            float64
2001            float64
2002            float64
2003            float64
2004            float64
2005            float64
2006            float64
2007            float64
2008            float64
2009            float64
2010            float64
2011            float64
dtype: object

In [78]:
country = 'India'
series = 'CO2 emissions (kt)'

subset = data_clean2[(data_clean2["Country code"] == country) &
                     (data_clean2["Series name"] == series)]

years = data_clean2.columns[2:]  # assuming years start from column index 2
plt.plot(years, subset.iloc[0, 2:].values)
plt.title(f"{series} in {country}")
plt.xlabel("Year")
plt.ylabel("Emissions")
plt.xticks(rotation=45)
plt.grid(True)
plt.show()

IndexError: single positional indexer is out-of-bounds

In [ ]:
import matplotlib.pyplot as plt

# Example: Distribution for a sample year
data_clean2['2010'].hist(bins=30)
plt.title('Distribution of Emissions in 2010')
plt.xlabel('Emission Value')
plt.ylabel('Frequency')
plt.grid(True)
plt.show()

KeyError: '2010'

In [70]:
# define shorter names corresponding to most relevant variables in a dictionary
chosen_vars = {'Cereal yield (kg per hectare)': 'cereal_yield',
               'Foreign direct investment, net inflows (% of GDP)': 'fdi_perc_gdp',
               'Access to electricity (% of total population)': 'elec_access_perc',
               'Energy use per units of GDP (kg oil eq./$1,000 of 2005 PPP $)': 'en_per_gdp',
               'Energy use per capita (kilograms of oil equivalent)': 'en_per_cap',
               'CO2 emissions, total (KtCO2)': 'co2_ttl',
               'CO2 emissions per capita (metric tons)': 'co2_per_cap',
               'CO2 emissions per units of GDP (kg/$1,000 of 2005 PPP $)': 'co2_per_gdp',
               'Other GHG emissions, total (KtCO2e)': 'other_ghg_ttl',
               'Methane (CH4) emissions, total (KtCO2e)': 'ch4_ttl',
               'Nitrous oxide (N2O) emissions, total (KtCO2e)': 'n2o_ttl',
               'Droughts, floods, extreme temps (% pop. avg. 1990-2009)': 'nat_emerg',
               'Population in urban agglomerations >1million (%)': 'pop_urb_aggl_perc',
               'Nationally terrestrial protected areas (% of total land area)': 'prot_area_perc',
               'GDP ($)': 'gdp',
               'GNI per capita (Atlas $)': 'gni_per_cap',
               'Under-five mortality rate (per 1,000)': 'under_5_mort_rate',
               'Population growth (annual %)': 'pop_growth_perc',
               'Population': 'pop',
               'Urban population growth (annual %)': 'urb_pop_growth_perc',
               'Urban population': 'urb_pop'
                }

# rename all variables in the column "Series name" with comprehensible shorter versions
data_clean2['Series name'] = data_clean2['Series name'].replace(to_replace=chosen_vars)

In [71]:
data_clean2.head()

,Country code,Series name,1990,1991,1992,1993,1994,1995,1996,1997,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
0,ABW,Land area below 5m (% of land area),29.574810,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ADO,Land area below 5m (% of land area),0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Land area below 5m (% of land area),0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AGO,Land area below 5m (% of land area),0.208235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ALB,Land area below 5m (% of land area),4.967875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
# save the short feature names into a list of strings
chosen_cols = list(chosen_vars.values())

# define an empty list, where sub-dataframes for each feature will be saved
frame_list = []

# iterate over all chosen features
for variable in chosen_cols:

    # pick only rows corresponding to the current feature
    frame = data_clean2[data_clean2['Series name'] == variable]

    # melt all the values for all years into one column and rename the columns correspondingly
    frame = frame.melt(id_vars=['Country code', 'Series name']).rename(columns={'Country code': 'country', 'variable': 'year', 'value': variable}).drop(['Series name'], axis='columns')

    # add the melted dataframe for the current feature into the list
    frame_list.append(frame)


# merge all sub-frames into a single dataframe, making an outer binding on the key columns 'country','year'
from functools import reduce
all_vars = reduce(lambda left, right: pd.merge(left, right, on=['country','year'], how='outer'), frame_list)

In [73]:
all_vars.head()

,country,year,cereal_yield,fdi_perc_gdp,elec_access_perc,en_per_gdp,en_per_cap,co2_ttl,co2_per_cap,co2_per_gdp,...,nat_emerg,pop_urb_aggl_perc,prot_area_perc,gdp,gni_per_cap,under_5_mort_rate,pop_growth_perc,pop,urb_pop_growth_perc,urb_pop
0,ABW,1990,NaN,NaN,NaN,NaN,NaN,1840.834,29.620641,NaN,...,NaN,NaN,0.105547,NaN,NaN,NaN,1.820254,62147.0,1.780501,31259.941
1,ABW,1991,NaN,21.185138,NaN,NaN,NaN,1928.842,29.838835,NaN,...,NaN,NaN,0.104930,8.720670e+08,NaN,NaN,3.936181,64642.0,3.337974,32321.000
2,ABW,1992,NaN,-3.857809,NaN,NaN,NaN,1723.490,25.239288,NaN,...,NaN,NaN,0.104930,9.586592e+08,NaN,NaN,5.484041,68286.0,4.882234,33938.142
3,ABW,1993,NaN,-1.655492,NaN,NaN,NaN,1771.161,24.405233,NaN,...,NaN,NaN,0.104930,1.083240e+09,14940.0,NaN,6.088818,72573.0,5.483368,35851.062
4,ABW,1994,NaN,-5.874439,NaN,NaN,NaN,1763.827,22.977867,NaN,...,NaN,NaN,0.104930,1.245810e+09,15320.0,NaN,5.611677,76762.0,5.002538,37690.142

In [29]:
print("check the amount of missing values in each column")
all_vars.isnull().sum()

check the amount of missing values in each column

country                   0
year                      0
cereal_yield           1377
fdi_perc_gdp           1111
elec_access_perc       5027
en_per_gdp             2082
en_per_cap             1956
co2_ttl                1143
co2_per_cap            1146
co2_per_gdp            1557
other_ghg_ttl          4542
ch4_ttl                4526
n2o_ttl                4526
nat_emerg              4958
pop_urb_aggl_perc      2582
prot_area_perc          726
gdp                     779
gni_per_cap            1013
under_5_mort_rate       716
pop_growth_perc         278
pop                     252
urb_pop_growth_perc     490
urb_pop                 467
dtype: int64

In [74]:
def convert_numeric_columns(df, exclude_columns=['Country code', 'Series name']):
    def safe_to_numeric(x):
        try:
            return pd.to_numeric(x)
        except Exception:
            return x
    return df.apply(lambda col: col.map(safe_to_numeric) if col.name not in exclude_columns else col)

data_clean2 = convert_numeric_columns(data_clean)

In [97]:
data_clean2[data_clean2["Country code"].str.contains("IND", na=False)]

,Country code,Series name,1990,1991,1992,1993,1994,1995,1996,1997,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
93,IND,Land area below 5m (% of land area),1.353457e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
326,IND,Agricultural land under irrigation (% of total...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.161683e+01,2.987704e+01,3.162930e+01,3.291819e+01,3.356670e+01,3.433718e+01,3.465956e+01,3.511611e+01,NaN,NaN
559,IND,Cereal yield (kg per hectare),1.891200e+03,1.926300e+03,2.024800e+03,2.084800e+03,2.115500e+03,2.111700e+03,2.180900e+03,2.228500e+03,...,2.187300e+03,2.399400e+03,2.350000e+03,2.411500e+03,2.446500e+03,2.583300e+03,2.672600e+03,2.571900e+03,NaN,NaN
792,IND,"Foreign direct investment, net inflows (% of GDP)",7.455587e-02,2.748829e-02,1.126080e-01,1.993824e-01,3.008510e-01,6.016374e-01,6.247187e-01,8.705763e-01,...,1.109257e+00,7.211053e-01,7.998214e-01,9.120022e-01,2.137612e+00,2.051039e+00,3.576116e+00,2.578213e+00,1.397284e+00,NaN
1025,IND,Access to electricity (% of total population),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.630000e+01,NaN,NaN
1258,IND,"Energy use per units of GDP (kg oil eq./$1,000...",2.998054e+02,3.085858e+02,3.042186e+02,2.970162e+02,2.892827e+02,2.838743e+02,2.724415e+02,2.720745e+02,...,2.433296e+02,2.301728e+02,2.252294e+02,2.136863e+02,2.054038e+02,1.974889e+02,1.952938e+02,1.954222e+02,NaN,NaN
1491,IND,Energy use per capita (kilograms of oil equiva...,3.728518e+02,3.802377e+02,3.881032e+02,3.896931e+02,3.975663e+02,4.122431e+02,4.181036e+02,4.269681e+02,...,4.553561e+02,4.598808e+02,4.803414e+02,4.914279e+02,5.090957e+02,5.303737e+02,5.430204e+02,5.849579e+02,NaN,NaN
1724,IND,"CO2 emissions, total (KtCO2)",6.905768e+05,7.378517e+05,7.836342e+05,8.142977e+05,8.649316e+05,9.200466e+05,1.002224e+06,1.043940e+06,...,1.226791e+06,1.281914e+06,1.346596e+06,1.411128e+06,1.504365e+06,1.612384e+06,1.742698e+06,NaN,NaN,NaN
1957,IND,CO2 emissions per capita (metric tons),8.129071e-01,8.515017e-01,8.876479e-01,9.054503e-01,9.445609e-01,9.869839e-01,1.056353e+00,1.081323e+00,...,1.169887e+00,1.204355e+00,1.247170e+00,1.289192e+00,1.355514e+00,1.433501e+00,1.528729e+00,NaN,NaN,NaN
2190,IND,"CO2 emissions per units of GDP (kg/$1,000 of 2...",6.536482e+02,6.910449e+02,6.957919e+02,6.901159e+02,6.872945e+02,6.796460e+02,6.883325e+02,6.890457e+02,...,6.251551e+02,6.027861e+02,5.847911e+02,5.605760e+02,5.469065e+02,5.337756e+02,5.497977e+02,NaN,NaN,NaN
2423,IND,"Other GHG emissions, total (KtCO2e)",9.568100e+03,NaN,NaN,NaN,NaN,7.046900e+03,NaN,NaN,...,NaN,NaN,NaN,8.433100e+03,NaN,NaN,NaN,NaN,NaN,NaN
2656,IND,"Methane (CH4) emissions, total (KtCO2e)",5.284412e+05,NaN,NaN,NaN,NaN,5.443881e+05,NaN,NaN,...,NaN,NaN,NaN,5.839776e+05,NaN,NaN,NaN,NaN,NaN,NaN
2889,IND,"Nitrous oxide (N2O) emissions, total (KtCO2e)",1.597238e+05,NaN,NaN,NaN,NaN,1.873995e+05,NaN,NaN,...,NaN,NaN,NaN,2.129273e+05,NaN,NaN,NaN,NaN,NaN,NaN
3355,IND,Disaster risk reduction progress score (1-5 sc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.25
3588,IND,GHG net emissions/removals by LUCF (MtCO2e),NaN,NaN,NaN,NaN,1.429210e+01,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4986,IND,"Droughts, floods, extreme temps (% pop. avg. 1...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.356109e+00,NaN,NaN
7316,IND,Population below 5m (% of total),3.884644e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7549,IND,Population in urban agglomerations >1million (%),1.004919e+01,1.018536e+01,1.029874e+01,1.041476e+01,1.053891e+01,1.066789e+01,1.080245e+01,1.094142e+01,...,1.173264e+01,1.190451e+01,1.207048e+01,1.222832e+01,1.236557e+01,1.248764e+01,1.259144e+01,1.268059e+01,1.275896e+01,NaN
7782,IND,Annual freshwater withdrawals (% of internal r...,3.918495e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8015,IND,Nationally terrestrial protected areas (% of t...,4.989857e+00,5.023329e+00,5.184453e+00,5.188039e+00,5.191525e+00,5.228625e+00,5.243681e+00,5.288559e+00,...,5.334660e+00,5.334660e+00,5.334660e+00,5.334660e+00,5.334660e+00,5.334660e+00,5.334660e+00,5.334661e+00,NaN,NaN
8248,IND,Ease of doing business (ranking 1-183; 1=best),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.350000e+02,1.340000e+02,132.00
8481,IND,Invest. in energy w/ private participation ($),NaN,6.136000e+08,1.340000e+07,1.050700e+09,3.113000e+08,1.008300e+09,1.553100e+09,9.695000e+08,...,3.903200e+08,9.131700e+08,4.256470e+09,9.098300e+08,5.500800e+09,1.023645e+10,1.288938e+10,2.457085e+10,3.777551e+10,NaN
8714,IND,Invest. in telecoms w/ private participation ($),NaN,NaN,NaN,NaN,9.670000e+07,6.828000e+08,1.228700e+09,3.827000e+09,...,5.008400e+09,2.079700e+09,3.701220e+09,5.665750e+09,6.823200e+09,8.168250e+09,9.933800e+09,7.829800e+09,2.033530e+10,NaN
8947,IND,Invest. in transport w/ private participation ($),1.900000e+06,NaN,NaN,NaN,1.250000e+08,NaN,1.820000e+08,4.050000e+08,...,7.191700e+08,5.791400e+08,1.141400e+09,1.526510e+09,1.002847e+10,3.924920e+09,5.423650e+09,4.871750e+09,1.378737e+10,NaN
9180,IND,Invest. in water/sanit. w/ private participati...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.107500e+08,0.000000e+00,NaN,1.422500e+08,7.590000e+07,2.353000e+07,NaN,NaN
9413,IND,Public sector mgmt & institutions avg. (1-6 sc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.700000e+00,3.700000e+00,3.700000e+00,3.700000e+00,3.700000e+00,3.600000e+00,NaN
9646,IND,Paved roads (% of total roads),NaN,4.730000e+01,5.190000e+01,5.440000e+01,5.490000e+01,5.540000e+01,5.470000e+01,5.650000e+01,...,4.740000e+01,NaN,4.862000e+01,4.699000e+01,4.772000e+01,4.824000e+01,4.934066e+01,NaN,NaN,NaN
9879,IND,GDP ($),3.174666e+11,2.675235e+11,2.455532e+11,2.760374e+11,3.235061e+11,3.562990e+11,3.883439e+11,4.109152e+11,...,5.071900e+11,5.994614e+11,7.215732e+11,8.340358e+11,9.513394e+11,1.242426e+12,1.213783e+12,1.380641e+12,1.729010e+12,NaN
10112,IND,GNI per capita (Atlas $),3.900000e+02,3.500000e+02,3.300000e+02,3.100000e+02,3.300000e+02,3.800000e+02,4.100000e+02,4.200000e+02,...,4.700000e+02,5.300000e+02,6.400000e+02,7.500000e+02,8.500000e+02,1.000000e+03,1.080000e+03,1.220000e+03,1.340000e+03,NaN
10345,IND,Ratio of girls to boys in primary & secondary ...,NaN,NaN,NaN,7.344400e+01,7.461900e+01,7.463500e+01,7.535200e+01,7.656700e+01,...,8.148500e+01,8.976800e+01,8.996800e+01,9.016400e+01,9.018800e+01,9.218300e+01,NaN,NaN,NaN,NaN
10578,IND,"Primary completion rate, total (% of relevant ...",NaN,NaN,NaN,NaN,NaN,7.393256e+01,NaN,NaN,...,7.556977e+01,7.967671e+01,8.419118e+01,8.530403e+01,8.611162e+01,9.355821e+01,9.483933e+01,NaN,NaN,NaN
10811,IND,"Under-five mortality rate (per 1,000)",1.148000e+02,1.119000e+02,1.087000e+02,1.056000e+02,1.026000e+02,9.950000e+01,9.660000e+01,9.360000e+01,...,8.050000e+01,7.800000e+01,7.560000e+01,7.320000e+01,7.090000e+01,6.870000e+01,6.680000e+01,6.470000e+01,6.270000e+01,NaN
11044,IND,Access to improved water source (% of total pop.),7.200000e+01,NaN,NaN,NaN,NaN,7.600000e+01,NaN,NaN,...,NaN,NaN,NaN,8.500000e+01,NaN,NaN,8.800000e+01,NaN,NaN,NaN
11277,IND,"Nurses and midwives (per 1,000 people)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.270000e+00,1.300000e+00,NaN,NaN,NaN,NaN,NaN,NaN
11510,IND,"Physicians (per 1,000 people)",NaN,NaN,4.800000e-01,4.067000e-01,NaN,NaN,NaN,NaN,...,NaN,NaN,6.000000e-01,5.990000e-01,NaN,NaN,NaN,NaN,NaN,NaN
11743,IND,"Malaria incidence rate (per 100,000 people)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.124000e+03,NaN,NaN,NaN
11976,IND,Access to improved sanitation (% of total pop.),1.800000e+01,NaN,NaN,NaN,NaN,2.100000e+01,NaN,NaN,...,NaN,NaN,NaN,2.800000e+01,NaN,NaN,3.100000e+01,NaN,NaN,NaN
12209,IND,"Child malnutrition, underweight (% of under ag...",5.950000e+01,NaN,5.660000e+01,5.070000e+01,NaN,NaN,NaN,4.110000e+01,...,NaN,NaN,NaN,NaN,4.350000e+01,NaN,NaN,NaN,NaN,NaN
12442,IND,Population living below $1.25 a day (% of total),NaN,NaN,NaN,NaN,4.940000e+01,NaN,NaN,NaN,...,NaN,NaN,NaN,4.164000e+01,NaN,NaN,NaN,NaN,NaN,NaN
12675,IND,Population growth (annual %),2.019034e+00,1.983113e+00,1.862573e+00,1.852647e+00,1.803659e+00,1.784041e+00,1.762873e+00,1.741706e+00,...,1.553747e+00,1.491518e+00,1.429290e+00,1.367061e+00,1.381639e+00,1.340382e+00,1.340382e+00,1.340382e+00,1.340382e+00,NaN
12907,IND,Population,8.495150e+08,8.665300e+08,8.828210e+08,8.993290e+08,9.156970e+08,9.321800e+08,9.487589e+08,9.654282e+08,...,1.048641e+09,1.064399e+09,1.079721e+09,1.094583e+09,1.109811e+09,1.124787e+09,1.139965e+09,1.155348e+09,1.170938e+09,NaN
13140,IND,Urban population growth (annual %),2.964667e+00,2.842158e+00,2.714301e+00,2.697182e+00,2.641121e+00,2.614547e+00,2.586539e+00,2.558643e+00,...,2.268035e+00,2.200741e+00,2.133518e+00,2.066365e+00,2.352521e+00,2.301928e+00,2.292770e+00,2.283785e+00,2.274968e+00,NaN
13372,IND,Urban population,2.166263e+08,2.228715e+08,2.290038e+08,2.352645e+08,2.415609e+08,2.479599e+08,2.544571e+08,2.610518e+08,...,2.946680e+08,3.012248e+08,3.077205e+08,3.141453e+08,3.216233e+08,3.291127e+08,3.367456e+08,3.445247e+08,3.524523e+08,NaN

In [75]:
all_vars_clean = all_vars

#define an array with the unique year values
years_count_missing = dict.fromkeys(all_vars_clean['year'].unique(), 0)
for ind, row in all_vars_clean.iterrows():
    years_count_missing[row['year']] += row.isnull().sum()

# sort the years by missing values
years_missing_sorted = dict(sorted(years_count_missing.items(), key=lambda item: item[1]))

# print the missing values for each year
print("missing values by year:")
for key, val in years_missing_sorted.items():
    print(key, ":", val)

missing values by year:
2005 : 1189
2000 : 1273
1995 : 1317
1990 : 1427
2007 : 1631
2006 : 1633
2004 : 1646
2008 : 1708
2003 : 1714
2002 : 1715
2001 : 1718
1999 : 1729
1998 : 1739
1997 : 1746
1996 : 1756
1994 : 1781
1993 : 1792
1992 : 1810
1991 : 1921
2009 : 2078
2010 : 3038
2011 : 4893

In [31]:
print("number of missing values in the whole dataset before filtering the years:")
print(all_vars_clean.isnull().sum().sum())
print("number of rows before filtering the years:")
print(all_vars_clean.shape[0])

# filter only rows for years between 1991 and 2008 (having less missing values)
all_vars_clean = all_vars_clean[(all_vars_clean['year'] >= 1991) & (all_vars_clean['year'] <= 2008)]

print("number of missing values in the whole dataset after filtering the years:")
print(all_vars_clean.isnull().sum().sum())
print("number of rows after filtering the years:")
print(all_vars_clean.shape[0])

number of missing values in the whole dataset before filtering the years:
41254
number of rows before filtering the years:
5126
number of missing values in the whole dataset after filtering the years:
29818
number of rows after filtering the years:
4194

In [32]:
# check the amount of missing values by country

# define an array with the unique country values
countries_count_missing = dict.fromkeys(all_vars_clean['country'].unique(), 0)

# iterate through all rows and count the amount of NaN values for each country
for ind, row in all_vars_clean.iterrows():
    countries_count_missing[row['country']] += row.isnull().sum()

# sort the countries by missing values
countries_missing_sorted = dict(sorted(countries_count_missing.items(), key=lambda item: item[1]))

# print the missing values for each country
print("missing values by country:")
for key, val in countries_missing_sorted.items():
    print(key, ":", val)

missing values by country:
AGO : 81
ARG : 81
AUS : 81
AUT : 81
BGD : 81
BGR : 81
BOL : 81
BRA : 81
CAN : 81
CHE : 81
CHL : 81
CHN : 81
CIV : 81
CMR : 81
COG : 81
COL : 81
CRI : 81
DEU : 81
DNK : 81
DOM : 81
ECU : 81
EGY : 81
EMU : 81
ESP : 81
FIN : 81
FRA : 81
GBR : 81
GHA : 81
GTM : 81
HND : 81
HUN : 81
IDN : 81
IND : 81
IRL : 81
ISR : 81
ITA : 81
JOR : 81
JPN : 81
KEN : 81
KOR : 81
LAC : 81
LMC : 81
LMY : 81
MAR : 81
MEX : 81
MIC : 81
MNA : 81
MOZ : 81
MYS : 81
NGA : 81
NLD : 81
NZL : 81
PAK : 81
PAN : 81
PER : 81
PHL : 81
PRT : 81
PRY : 81
ROM : 81
SAS : 81
SAU : 81
SDN : 81
SEN : 81
SLV : 81
SWE : 81
SYR : 81
TGO : 81
THA : 81
TUR : 81
TZA : 81
UMC : 81
URY : 81
USA : 81
VEN : 81
VNM : 81
ZAF : 81
ZMB : 81
GRC : 82
POL : 82
YEM : 82
ZAR : 82
DZA : 84
ETH : 84
LIC : 84
SSA : 84
WLD : 84
ARE : 85
ECA : 85
RUS : 86
UKR : 86
ARM : 87
BLR : 87
UZB : 87
KAZ : 88
CZE : 89
IRN : 89
BEL : 90
AZE : 91
GEO : 92
LBN : 92
HTI : 94
NIC : 96
BEN : 99
BWA : 99
CYP : 99
GAB : 99
HIC : 99
JAM : 99
KHM : 99
LKA : 99
MLT : 99
MNG : 99
NOR : 99
OMN : 99
SGP : 99
TTO : 99
TUN : 99
ALB : 100
EAP : 102
NPL : 103
EST : 104
LVA : 104
NAM : 104
HRV : 105
MDA : 105
SVN : 105
TJK : 105
KGZ : 106
LTU : 106
MKD : 107
SVK : 107
TKM : 107
LBY : 108
LUX : 108
BRN : 109
KWT : 113
BHR : 117
CUB : 117
ISL : 117
ZWE : 117
ERI : 121
IRQ : 122
BIH : 123
HKG : 124
BFA : 126
GIN : 126
MDG : 126
MLI : 126
NER : 126
UGA : 126
QAT : 135
ATG : 136
BHS : 136
BLZ : 136
BRB : 136
COM : 136
CPV : 136
DMA : 136
FJI : 136
GNB : 136
GRD : 136
GUY : 136
MUS : 136
SWZ : 136
VCT : 136
VUT : 136
DJI : 137
SLB : 137
SUR : 137
GMB : 141
BDI : 144
CAF : 144
LAO : 144
MRT : 144
MWI : 144
PNG : 144
RWA : 144
SLE : 144
TCD : 144
BTN : 148
LBR : 149
SID : 152
GNQ : 154
KNA : 154
LCA : 154
SYC : 154
TON : 154
WSM : 154
KIR : 156
SRB : 158
MDV : 164
PLW : 166
AFG : 170
MMR : 171
PRK : 171
FSM : 184
MHL : 184
LSO : 190
MAC : 198
STP : 198
TMP : 202
NCL : 204
ADO : 206
SOM : 206
WBG : 207
GRL : 216
ABW : 226
BMU : 226
PRI : 230
MNE : 231
PYF : 232
LIE : 234
MCO : 234
CYM : 250
FRO : 259
GIB : 261
COK : 270
GUM : 270
NIU : 270
SMR : 270
TUV : 272
IMY : 282
VIR : 285
ASM : 288
CHI : 288
MNP : 288
NRU : 288
TCA : 296
MYT : 324
KSV : 325
MAF : 342
CUW : 357
SXM : 357

In [33]:
print("number of missing values in the whole dataset before filtering the countries:")
print(all_vars_clean.isnull().sum().sum())
print("number of rows before filtering the countries:")
print(all_vars_clean.shape[0])


# filter only rows for countries with less than 90 missing values
countries_filter = []
for key, val in countries_missing_sorted.items():
    if val<90:
        countries_filter.append(key)

all_vars_clean = all_vars_clean[all_vars_clean['country'].isin(countries_filter)]

print("number of missing values in the whole dataset after filtering the countries:")
print(all_vars_clean.isnull().sum().sum())
print("number of rows after filtering the countries:")
print(all_vars_clean.shape[0])

number of missing values in the whole dataset before filtering the countries:
29818
number of rows before filtering the countries:
4194
number of missing values in the whole dataset after filtering the countries:
7854
number of rows after filtering the countries:
1728

In [34]:
all_vars_clean.isnull().sum()

country                   0
year                      0
cereal_yield             10
fdi_perc_gdp             17
elec_access_perc       1728
en_per_gdp                0
en_per_cap                0
co2_ttl                   9
co2_per_cap               9
co2_per_gdp               9
other_ghg_ttl          1446
ch4_ttl                1440
n2o_ttl                1440
nat_emerg              1728
pop_urb_aggl_perc         0
prot_area_perc            0
gdp                       2
gni_per_cap              16
under_5_mort_rate         0
pop_growth_perc           0
pop                       0
urb_pop_growth_perc       0
urb_pop                   0
dtype: int64

In [35]:
# remove features with more than 20 missing values

from itertools import compress

# create a boolean mapping of features with more than 20 missing values
vars_bad = all_vars_clean.isnull().sum()>20

# remove the columns corresponding to the mapping of the features with many missing values
all_vars_clean2 = all_vars_clean.drop(compress(data = all_vars_clean.columns, selectors = vars_bad), axis='columns')

print("Remaining missing values per column:")
print(all_vars_clean2.isnull().sum())

Remaining missing values per column:
country                 0
year                    0
cereal_yield           10
fdi_perc_gdp           17
en_per_gdp              0
en_per_cap              0
co2_ttl                 9
co2_per_cap             9
co2_per_gdp             9
pop_urb_aggl_perc       0
prot_area_perc          0
gdp                     2
gni_per_cap            16
under_5_mort_rate       0
pop_growth_perc         0
pop                     0
urb_pop_growth_perc     0
urb_pop                 0
dtype: int64

In [36]:
# delete rows with any number of missing values
all_vars_clean3 = all_vars_clean2.dropna(axis='rows', how='any')

print("Remaining missing values per column:")
print(all_vars_clean3.isnull().sum())

print("Final shape of the cleaned dataset:")
print(all_vars_clean3.shape)

Remaining missing values per column:
country                0
year                   0
cereal_yield           0
fdi_perc_gdp           0
en_per_gdp             0
en_per_cap             0
co2_ttl                0
co2_per_cap            0
co2_per_gdp            0
pop_urb_aggl_perc      0
prot_area_perc         0
gdp                    0
gni_per_cap            0
under_5_mort_rate      0
pop_growth_perc        0
pop                    0
urb_pop_growth_perc    0
urb_pop                0
dtype: int64
Final shape of the cleaned dataset:
(1700, 18)

In [77]:
data_clean2.to_csv("cleaned_emissions_data.csv", index=False)